
body{
background-image: url('images/bg.png');
margin-right: auto;
margin-left: auto;
margin-top: 1px;
}
*{
font-family: calibri;
}
/* * a{}
* ul {list-style-image: url('');} */

#holder{
position: relative;
top: 0px;
width: 900px;
min-height: 100%;
margin-right: auto;
margin-left: auto;
background-color: pink;
border: 5px solid pink;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}

#header{
position: relative;
top: 0px;
left: 0px;
width: 100%;
height: 120px;
background-color: rgba(255, 255, 255, 0.5);
}
.title1{position: absolute; top: 20px; left: 165px; width: 700px; height: 50px;}
.title2{position: absolute; top: 70px; left: 300px; width: 700px; height: 50px;}
.logo{position: absolute; top: 15px; left: 10px; width: 120px; height: 110px;}
.nhslogo{position: absolute; top: 20px; right: 10px; width: 120px; height: 80px;}

#topbar{
position: relative;
top: 0px;
left: 0px;
width: 100%;
height: 40px;
background-image: url('images/button1.png');;
}
.topnav{position: relative; width: 80%; height: 100%; margin-left: 180px; 
				background-color: #; z-index: 1;}
.topnav ul{list-style: none; margin: 0px; padding: 0px;}
.topnav li{float: left; min-width: 100px; background-image: url('images/button2.png');; /* border: 1px solid white; */ 
				//border-top: 1px solid white; text-align: center; position: relative; height: 40px; 
				line-height: 40px;}
.topnav li ul li{float: none; width: 100px; text-align: left; margin-top: 0px; text-align:center;}
.topnav li ul{position: relative; visibility: hidden; top: 0px; left: 0px;}
.topnav li:hover ul{visibility: visible;}
.topnav li:hover{background-image: url('images/button3.png');}
.topnav li:active{color: aqua;}
.topnav a{text-decoration: none; color: white;}

#bodyholder{
position: relative;
top: 0px;
left: 0px;
width: 100%;
min-height: 100%;
background-color: white;
}

#content{
position: relative;
width: 520px;
min-height: 300px;
margin-right: auto;
margin-left: auto;
text-align: left;
padding: 50px 25px;
background-color: ;
}

#rightbar{
position: absolute;
top: 0px;
right: 10px;
width: 133px;
min-height: 300px;
text-align: left;
padding: 50px 10px;
background-color: ;
}

#leftbar{
position: absolute;
top: 0px;
left: 10px;
width: 120px;
}
.leftnav{position: relative; width: 80%; height: 100%; margin-left: 0px; 
				background-color: #; z-index: 1;}
.leftnav ul{list-style: none; margin: 0px; padding: 0px;}
.leftnav li{float: left; width: 100px; height: 30px; background-image: url('images/buttonleft1.png'); //border: 1px solid white; 
				border-top: 1px solid white; text-align: center; position: relative; 
				line-height: 30px;}
.leftnav li ul li{float: none; width: 100px; text-align: left; padding-left: 5px; margin-left: 100px; 
					margin-top: 0px;}
.leftnav li ul{position: absolute; visibility: hidden; top: 0px; left: 2px;}
.leftnav li:hover ul{visibility: visible;}
.leftnav li:hover{background-image: url('images/buttonleft2.png');}
.leftnav li:active{color: aqua;}
.leftnav a{text-decoration: none; color: white;}

#footer{
position: relative;
clear: both;
bottom: 0px;
margin-top: 0px;
margin-right: auto;
margin-left: auto;
width: 100%;
min-height: 40px;
background-color: rgba(255, 255, 255, 0.5);
text-align: center;
line-height: 40px;
}

#outerhomecontent{
position: absolute;
top: 80px;
right: 0px;
width: 100%;
height: 500px;
background-color: aqCa;
}
