
html, body{
background: silver;
margin-right: auto;
margin-left: auto;
}
/* * a{}
* ul {list-style-image: url('');} */

#outerholder{
position: relative;
top: 0px;
width: 900px;
height: 650px;
margin-right: auto;
margin-left: auto;
background: pink;
}

#topimage{
position: relative;
top: 0px;
width: 700px;
height: 500px;
background: url('images/intro2.png') no-repeat;
left: 50%;
margin-left: -350px;
z-index: 1;
}
#access1{
position: absolute;
top: 415px;
left: 82px;
width: 162px;
height: 122px;
background: url('images/access1.png') no-repeat;
//background-color: red;
}
#access2{
position: absolute;
top: 457px;
left: 280px;
width: 164px;
height: 105px;
background: url('images/access2.png') no-repeat;
//background-color: red;
}

#access3{
position: absolute;
top: 414px;
left: 492px;
width: 164px;
height: 122px;
background: url('images/access3.png') no-repeat;
//background-color: red;
}

#slideimage{
position: absolute;
top: 100px;
left: 80px;
width: 550px;
height: 250px;
}
