
body{
background: url('images/bg.png') fixed;
margin-right: auto;
margin-left: auto;
margin-top: 1px;
}

*{font-family: calibri; border: none;}

a{cursor: pointer;}
a img{border: none;}

#news {
position: absolute;
top: 100px;
right: -100px;
width: 200px;
min-height: 100px;
background-color: rgba(1,1,1,0.1);
border-radius: 20px;
border: 1px ridge aqua;
padding: 20px 5px;
}

hr {background-color: grey;height:1px;}

#outerholder{
position: relative;
top: 0px;
width: 800px;
height: 600px;
margin-right: auto;
margin-left: auto;
background: ;
border-radius: 20px;
}
.title1{position: absolute; top: 20px; left: 115px; width: 700px; height: 50px;}
.logo{position: absolute; top: 15px; left: 10px; width: 120px; height: 110px;}
.nhslogo{position: absolute; top: 20px; right: 10px; width: 120px; height: 80px;}

#loader{
position: absolute;
background: url('images/loader.gif');
width: 20px;
height: 20px;
left: 380px;
top: 420px;
}

#topimage{
position: relative;
top: 30px;
width: 700px;
height: 500px;
margin-right: auto;
margin-left: auto;
/* background: url('images/intro2.png') no-repeat; */
left: 50%;
margin-left: -350px;
z-index: 1;
}

#bbb{
position: absolute;
top: 415px;
left: 0px;
width: 210px;
height: 70px;
background: url('images/index-b.png') no-repeat;
}

#sa{
position: absolute;
top: 457px;
left: 220px;
width: 175px;
height: 70px;
background: url('images/index-a.png') no-repeat;
}

#xxp{
position: absolute;
top: 457px;
left: 422px;
width: 114px;
height: 82px;
background: url('images/index-x.png') no-repeat;
}

#ha{
position: absolute;
top: 414px;
left: 572px;
width: 180px;
height: 40px;
background: url('images/index-ha.png') no-repeat;
}

#slideimage{
position: absolute;
top: 60px;
left: 150px;
background-color: ;
}

#text{
position: absolute;
left: 210px;
top: 130px;
width: 250px;
height: 240px;
background-image: url('images/link.png');
text-align: center;
background-color:;
}

#slideimagelink{
position: absolute;
left: 200px;
top: 120px;
width: 250px;
height: 250px;
background-image: url('images/link.png');
background-color: ;
}

#about{
position: absolute;
left: 465px;
top: 140px;
width: 100px;
height: 30px;
}

#contact{
position: absolute;
left: 487px;
top: 200px;
width: 100px;
height: 30px;
}

#emergency{
position: absolute;
left: 489px;
top: 250px;
width: 100px;
height: 30px;
}

#careers{
position: absolute;
left: 470px;
top: 310px;
width: 100px;
height: 30px;
}

#sidelinks div{font-size: 14pt; color: white; text-shadow: 0px 1px grey; text-decoration: none; -webkit-transition: color 1s ease; 
			-ms-transition: color 1s ease; -moz-transition: color 1s ease; -o-transition: color 1s ease;}
#sidelinks div:hover{text-decoration: underline; color: coral; cursor: pointer;}

/**********/ /*CSS3 stuff that can be used --> From: 	CSS Tansitions	http://www.youtube.com/watch?v=xetgON6bE9s */
/* {-webkit-transition: color 1s ease;
	-webkit-transition: opacity 1s ease;
	-webkit-transition: background 0.5s ease;}
 */
/**********/