
body{
background: silver;
margin-right: auto;
margin-left: auto;
margin-top: 1px;
}
/* * a{}
* ul {list-style-image: url('');} */

#outerholder{
position: relative;
top: 0px;
width: 710px;
height: 600px;
margin-right: auto;
margin-left: auto;
background: pink;
}

#topimage{
position: relative;
top: 0px;
width: 700px;
height: 500px;
margin-right: auto;
margin-left: auto;
//background: url('images/intro2.png') no-repeat;
left: 50%;
margin-left: -350px;
z-index: 1;
}
#access1{
position: absolute;
top: 415px;
left: 82px;
width: 200px;
height: 109px;
background: url('images/titles/standrews.png') no-repeat;
/* background-color: red; */
}
#access2{
position: absolute;
top: 457px;
left: 280px;
width: 164px;
height: 97px;
background: url('images/titles/xxplace.png') no-repeat;
/* background-color: red; */
}

#access3{
position: absolute;
top: 414px;
left: 492px;
width: 160px;
height: 109px;
background: url('images/titles/bbb.png') no-repeat;
/* background-color: red; */
}

#slideimage{
position: absolute;
top: 60px;
left: 150px;
//width: 550px;
//height: 250px;
}
