
html, body{
background-color: pink;
margin-right: auto;
margin-left: auto;background: url('images/backbg.png') repeat;
}
/* * a{}
* ul {list-style-image: url('');} */

#holder{
position: relative;
top: 0px;
width: 900px;
min-height: 100%;
margin-right: auto;
margin-left: auto;
background-color: silver;
border: 5px solid lightpurple;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}

#header{
position: relative;
top: 0px;
left: 0px;
width: 100%;
height: 120px;
background-color: rgba(255, 255, 255, 0.5);
}
.headerlogo1{position: absolute; top: 20px; left: 165px; width: 700px; height: 50px;}
.headerlogo2{position: absolute; top: 15px; left: 10px; width: 120px; height: 110px;}
.headerlogo3{position: absolute; top: 20px; right: 10px; width: 120px; height: 80px;}

#topbar{
position: relative;
top: 0px;
left: 0px;
width: 100%;
height: 40px;
background-image: url('images/topnavbg.png');;
}
.topnav{position: relative; width: 80%; height: 100%; margin-left: 200px; 
				background-color: #; z-index: 1;}
.topnav ul{list-style: none; margin: 0px; padding: 0px;}
.topnav li{float: left; width: 100px; background-image: url('images/button_1.png');; /* border: 1px solid white; */ 
				//border-top: 1px solid white; text-align: center; position: relative; height: 40px; 
				line-height: 40px;}
.topnav li ul li{float: none; width: 100px; text-align: left; padding-left: 0px; margin-top: 0px; text-align: center;}
.topnav li ul{position: relative; visibility: hidden; top: 0px; left: 0px;}
.topnav li:hover ul{visibility: visible;}
.topnav li:hover{background-image: url('images/button_2.png');}
.topnav a{text-decoration: none; color: white;}

#bodyholder{
position: relative;
top: 0px;
left: 0px;
width: 100%;
min-height: 100%;
background-color:white ;
}

#content{
position: relative;
width: 80%;
min-height: 300px;
margin-right: 0px;
margin-left: auto;
text-align: left;
padding: 50px 35px;
background-color: ;
}

#leftbar{
position: absolute;
top: 0px;
left: 0px;
width: 120px;
}
.leftnav{position: relative; width: 80%; height: 100%; margin-left: 0px; 
				background-color: #; z-index: 1;}
.leftnav ul{list-style: none; margin: 0px; padding: 0px;}
.leftnav li{float: left; width: 100px; background-image: url('images/leftbutton1.png'); //border: 1px solid white; 
				border-top: 1px solid white; text-align: center; position: relative; height: 40px; 
				line-height: 40px;}
.leftnav li ul li{float: none; width: 100px; text-align: left; padding-left: 5px; margin-left: 100px; 
					margin-top: 0px;}
.leftnav li ul{position: absolute; visibility: hidden; top: 0px; left: 2px;}
.leftnav li:hover ul{visibility: visible;}
.leftnav li:hover{background-image: url('images/leftbutton2.png');}
.leftnav a{text-decoration: none; color: white;}

#footer{
position: relative;
clear: both;
bottom: 0px;
margin-top: 0px;
margin-right: auto;
margin-left: auto;
width: 100%;
min-height: 40px;
background-color: rgba(255, 255, 255, 0.5);
text-align: center;
line-height: 40px;
}

#outerhomecontent{
position: absolute;
top: 80px;
right: 0px;
width: 100%;
height: 500px;
background-color: aqua;
}
