
body{
background: url('images/bg.png') fixed;
margin-right: auto;
margin-left: auto;
margin-top: 1px;
}
*{font-family: calibri;}
a{color: #41148c;}
a img{border: none;}
h1, h2, h3, h4, h5, h6{color: #41148c;}
/* * a{}
* ul {list-style-image: url('');} */

#holder{
position: relative;
top: 0px;
width: 900px;
min-height: 100%;
margin-right: auto;
margin-left: auto;
background-color: white;
border: 5px solid rgba(255, 255, 255, 0.5);
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}

#header{
position: relative;
top: 0px;
left: 0px;
width: 100%;
height: 120px;
background-color: rgba(255, 255, 255, 0.5);
}
.title1{background: url('images/title-all.png') no-repeat; position: absolute; top: 20px; left: 265px; width: 400px; height: 40px;}
.title2{background: url('images/title-standrews.png') no-repeat; position: absolute; top: 70px; left: 200px; width: 550px; height: 50px;}
.logo{position: absolute; top: 15px; left: 10px; width: 120px; height: 110px;}
.nhslogo{position: absolute; top: 20px; right: 10px; width: 120px; height: 80px;}

#topbar{
position: relative;
top: 10px;
left: 0px;
width: 100%;
height: 30px;
background-image: url('images/buttontop1.png');
}
.topnav{position: relative; width: 110%; height: 100%; margin-left: 7px; background-color: #; z-index: 10;}
.topnav ul{list-style: none; margin: 0px; padding: 0px;}
.topnav li{float: left; min-width: 100px; background-image: url('images/buttontop1.png'); padding: 0px 1px; 
				border: 1px solid #; text-align: center; position: relative; height: 30px; line-height: 30px;}
.topnav li ul li{float: none; min-width: 100px;  padding: 0px 5px; text-align: left; margin-top: 0px; text-align:center;}
.topnav li ul{position: relative; visibility: hidden; top: 0px; left: 0px;}
.topnav li:hover ul{visibility: visible;}
.topnav li:hover{background-image: url('images/buttontop2.png');}
.topnav li:active{color: purple;}
.topnav a{text-decoration: none; color: #41148c; text-shadow: 0px 1px white; font-weight: ;}
.topnav .bigger li{max-width:100%; height:60px; background-image: url('images/buttontop1-bigger.png');}
.topnav .bigger li:hover{background-image: url('images/buttontop2-bigger.png');}

#bodyholder{
position: relative;
top: 0px;
left: 0px;
width: 100%;
min-height: 100%;
background-color: ;
}

#content{
position: relative;
float: left;
width: 520px;
min-height: 300px;
margin-right: auto;
margin-left: auto;
text-align: left;
line-height: 30px;
padding: 50px 25px;
background-color: ;
}
.leftcolumn{width: 50%; height: ; float: left;}
.rightcolumn{width: 50%; height: ; float: left;}

.directory {position: relative; width: 100%; height: 20px; margin-bottom: 10px; line-height: 20px; font-size: 10.5pt; background-color: #eeeeee;}
.directory a{float: left; margin: 0px 10px; text-decoration: none;}
.directory a:hover{text-decoration: underline;}
.arrow {background: url('images/arrow.png') no-repeat; width: 20px; height: 20px; float: left; margin-right: 10px;}

table {
position: relative;
float: left;
width: 150px;
min-height: 60px;
text-align: left;
}
table caption{
line-height: 30px;
border-bottom: none;
font-size: 13pt;
text-decoration: italic;
font-weight: bold;
text-align: left;
}

#rightbar{
position: relative;
float: left;
top: 10px;
width: 160px;
min-height: 300px;
text-align: center;
padding: 50px 5px;
background-color: ;
}

#leftbar{
position: relative;
float: left;
top: 50px;
left: 5px;
width: 160px;
min-height: 300px;
margin-bottom: 20px;
background-color: ;
}
.aboutus{
position: relative; width: 150px; height: 40px; background: url('images/aboutus1.png') no-repeat; margin: 0px 0px;}
.aboutus:hover{background: url('images/aboutus2.png') no-repeat;}
.contactus{
position: relative; width: 150px; height: 40px; background: url('images/contactus1.png') no-repeat; margin: 0px 0px;}
.contactus:hover{background: url('images/contactus2.png') no-repeat;}
.findus{
position: relative; width: 150px; height: 40px; background: url('images/findus1.png') no-repeat; margin: 0px 0px;}
.findus:hover{background: url('images/findus2.png') no-repeat;}
.services{
position: relative; width: 150px; height: 40px; background: url('images/services1.png') no-repeat; margin: 0px 0px;}
.services:hover{background: url('images/services2.png') no-repeat;}
.staff{
position: relative; width: 150px; height: 40px; background: url('images/staff1.png') no-repeat; margin: 0px 0px;}
.staff:hover{background: url('images/staff2.png') no-repeat;}

.leftnav{position: relative; width: 80%; height: 100%; margin-left: 0px; 
				background-color: #; z-index: 1;}
.leftnav ul{list-style: none; margin: 0px; padding: 0px;}
.leftnav li{float: left; min-width: 100px; height: 30px; background-image: url('images/buttonleft1.png'); 
			border: 1px solid grey; border-radius: 5px; text-align: center; position: relative; 
				line-height: 30px;}
.leftnav li ul li{float: none; min-width: 100px; text-align: left; padding-left: 5px; margin-left: 100px; 
					margin-top: 0px;}
.leftnav li ul{position: absolute; visibility: hidden; top: 0px; left: 2px;}
.leftnav li:hover ul{visibility: visible;}
.leftnav li:hover{background-image: url('images/buttonleft2.png');}
.leftnav li:active{color: chocolate;}
.leftnav a{text-decoration: none; color: brown; text-shadow: 0px 1px white; font-weight: ;}

#footer{
position: relative;
clear: both;
bottom: 0px;
margin-top: 0px;
margin-right: auto;
margin-left: auto;
width: 100%;
min-height: 80px;
border-top: 1px solid silver;
background-color: ;
text-align: center;
line-height: 40px;
}
.logo-patients{position: relative; background: url('images/logo-patients.png') no-repeat; float: left; left: 20px; margin: 10px 10px; width: 117px; height: 25px;}
.logo-cqc{position: relative; background: url('images/logo-cqc.png') no-repeat; float: left; margin: 10px 10px; width: 80px; height: 26px;}
.logo-nhschoices{position: relative; background: url('images/logo-nhschoices.png') no-repeat; float: left; margin: 10px 10px; width: 100px; height: 28px;}
.logo-nhsdirect{position: relative; background: url('images/logo-nhsdirect.png') no-repeat; float: left; margin: 10px 10px; width: 54px; height: 40px;}
.logo-depofhealth{position: relative; background: url('images/logo-depofhealth.png') no-repeat; float: left; margin: 10px 10px; width: 53px; height: 35px;}
.logo-nhs111{position: relative; background: url('images/logo-nhs111.png') no-repeat; float: left; margin: 10px 10px; width: 54px; height: 50px;}
.logo-netdoctor{position: relative; background: url('images/logo-netdoctor.png') no-repeat; float: left; margin: 10px 10px; width: 70px; height: 35px;}
.logo-bartshealth{position: relative; background: url('images/logo-bartshealth.png') no-repeat; float: left; margin: 10px 10px; width: 110px; height: 27px;}
.logo-nhsengland{position: relative; background: url('images/logo-nhsengland.png') no-repeat; float: left; margin: 10px 10px; width: 60px; height: 38px;}
#footerinfo {position: absolute; text-align: center; width: 100%; color: grey; margin-top: -20px;}

#footerlinks a{
margin: auto 50px;
text-decoration: none;
color: grey;
}

#outerhomecontent{
position: absolute;
top: 80px;
right: 0px;
width: 100%;
height: 500px;
background-color: aqCa;
}

#slideshow{
position: relative;
top: -20px;
left: 15px;
margin-bottom: 25px;
width: 500px;
height: 270px;
background-color: none;
}
#slideshowimages{
position: absolute; width: 500px; height: 250px; background-color: ; z-index: 1;}
#slideshowtext{
position: absolute; bottom: -15px; width: 490px; height: 30px; line-height: 30px; padding-left: 10px; 
background-color: rgba(0, 0, 0, 0.3); text-shadow: 0px 1px white; font-weight: bold; z-index: 2;}
#slideshownav{
position: absolute; bottom: -10px; right: -10px; width: 180px; height: 20px; background-color: none; border-radius: 5px; z-index: 3;}
.slideshowcontrol{position: absolute; top: 2px; width: 100%; height: 100%;background-color:}
.select1{position: absolute; right: 150px; background-image: url('images/point.png'); width: 20px; height: 20px;}
.select2{position: absolute; right: 130px; background-image: url('images/point.png'); width: 20px; height: 20px;}
.select3{position: absolute; right: 110px; background-image: url('images/point.png'); width: 20px; height: 20px;}
.select4{position: absolute; right: 90px; background-image: url('images/point.png'); width: 20px; height: 20px;}
.select5{position: absolute; right: 70px; background-image: url('images/point.png'); width: 20px; height: 20px;}
.select6{position: absolute; right: 50px; background-image: url('images/point.png'); width: 20px; height: 20px;}
.next{position: absolute; right: 2px; background-image: url('images/next.png'); width: 20px; height: 20px;}
.prev{position: absolute; right: 32px; background-image: url('images/prev.png'); width: 20px; height: 20px;}
.stop{position: absolute; right: 17px; background-image: url('images/stop.png'); width: 20px; height: 20px;}
.loader{background:url(images/loader.gif) no-repeat; top: 120px; left: 245px; position: absolute; width: 20px; height: 20px; z-index: -1;}